<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">Список всех предложений</h2>
                <div th:each="o : ${offerInfos}" class="d-flex flex-column bg-text mb-3" style="border: 1px solid #383838; text-align: center;">
                    <img th:src="${o.image_url}" alt="Image" class="img-fluid mx-auto" style="max-width: 300px; max-height: 200px;"/>
                    <h4 th:text="'Описание: ' + ${o.description}"></h4>
                    <h4 th:text="'Двигатель: ' + ${o.engine}"></h4>
                    <h4 th:text="'Пробег: ' + ${o.mileage}"></h4>
                    <h4 th:text="'Стоимость: ' + ${o.price}"></h4>
                    <h4 th:text="'Трансмиссия: ' + ${o.transmission}"></h4>
                    <h4 th:text="'Год: ' + ${o.years}"></h4>
                    <h4 th:text="'Модель: ' + ${o.model.name}"></h4>
                    <h4 th:text="'Продавец: ' + ${o.seller.username}"></h4>
<!--                    <h4><a class="btn-block" th:href="@{/offers/details/{id}(id=${o.getId()})}">Detail-->
<!--                        info</a></h4>-->

<!--                    "@{/users/deactivate_user/{username}(username=${u.username})}"-->
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>